<script setup lang="ts">
import { ref } from "vue";

const props = withDefaults(
  defineProps<{
    name: string;
    img: string;
    rating: number;
    index: number;
  }>(),
  {
    rating: 0,
    default: 0,
    min: 0,
  }
);

const emits = defineEmits<{
  (e: "change", index: number, rating: number): void;
}>();

const count = ref(props.rating);

function inc() {
  count.value++;
  emits("change", props.index, count.value);
}
function dec() {
  count.value--;
  emits("change", props.index, count.value);
}
</script>

<template>
  <v-container>
    <v-row>
      <v-col cols="6">
        <div class="text-center">
          <div class="">{{ props.name }}</div>
          <div class="i">{{ count }}</div>
        </div>
        <v-btn @click="inc()"> Increment </v-btn>
      </v-col>
      <v-col cols="6">
        <div class="text-center">
          <div class="">{{ props.name }}</div>
          <div class="text">{{ count * 2 }}</div>
        </div>
        <v-btn @click="dec()">DECREASE </v-btn>
      </v-col>
    </v-row>
  </v-container>
</template>
