<script setup lang="ts">
import { ref } from "vue";
import type { VForm } from "vuetify/components";
import { useLoginStore } from "@/stores/login";
const loginStore = useLoginStore();

const inputNumber = ref("");

const valid = ref(true);
const form = ref<InstanceType<typeof VForm> | null>(null);

const login = async () => {
  const { valid } = await form.value!.validate();
  if (valid) {
    loginStore.login(inputNumber.value);
  }
};
const reset = () => {
  form.value?.reset();
};
</script>

<template>
  <v-container>
    <v-form ref="form" v-model="valid">
      <v-text-field
        label="Please Input Number"
        v-model="inputNumber"
        :rules="[(v) => !!v || 'Number is not empty!!']"
        required
      ></v-text-field>
    </v-form>
  </v-container>
</template>
