<script lang="ts" setup>
import { ref } from "vue";
const emo = ref([
  {
    id: 1,
    name: "angry",
    img: "angry.png",
  },
  {
    id: 2,
    name: "cute",
    img: "cute.png",
  },
  {
    id: 3,
    name: "exited",
    img: "excited.png",
  },
  {
    id: 4,
    name: "pain",
    img: "pain.png",
  },
  {
    id: 5,
    name: "shock",
    img: "shocked.png",
  },
  {
    id: 6,
    name: "smile",
    img: "smlie.png",
  },
]);
</script>
<template>
  <v-container>
    <v-row>
      <v-col cols="6">
        <v-img src="smile.png"></v-img>
      </v-col>
      <v-col cols="6">
        <tr class="text-center">
          SMILE
        </tr>
        <tr>
          <th>
            <v-btn class="ma-1 text-right" width="100px">ANGRY</v-btn>
          </th>
        </tr>
        <tr>
          <th><v-btn class="ma-1 text-right" width="100px">CUTE</v-btn></th>
        </tr>
        <tr>
          <th><v-btn class="ma-1 text-right" width="100px">EXCITED</v-btn></th>
        </tr>
        <tr>
          <th><v-btn class="ma-1 text-right" width="100px">PAIN</v-btn></th>
        </tr>
        <tr>
          <th><v-btn class="ma-1 text-rights" width="100px">SMILE</v-btn></th>
        </tr>
      </v-col>
    </v-row>
  </v-container>
</template>

<style scoped>
.container {
  position: relative;
  height: 100vh;
}
.image {
  width: 100px;
  height: 100px;
  margin: 2px;
  cursor: pointer;
  transition: filter 0.3s ease-in;
}

.image:hover {
  filter: brightness(1.2);
}
</style>
